*.pyc
*.bin
*.vec
*.zip
*.tar
config_hs.ini
config_ls.ini
config_ak.ini
#*.conf
redis*.conf
vcaenv
tempenv
*.sqlite3
.idea
config_bin.ini
chat_history
*coverage*
*.DS_Store
*nosetests.xml
*xunittest.xml
apiServices/
nova-demo/
*docker-compose-local.yml
docker-compose-local.yml
docker-compose-bz.yml
docker-compose-ak.yml
venv/
*.rdb
*.aof
*.log
redis-node.conf

!pip.conf
actionServer/celerybeat-schedule
actionServer/account_statement_request_archive
Nova-SE/

Dockerfile-swagger-local
.python-version
novaenv/
_dev/
leetcode-venv

data/NER_model_based